//
// footer.scss
//

.footer {
  bottom: 0;
  padding: 19px 15px 20px;
  position: absolute;
  right: 0;
  left: $leftbar-width;
  background-color: $footer-bg;
  box-shadow: 0 0 1px rgba(50, 58, 70, 0.1);

  .footer-links {
    a {
      color: $gray-600;
      margin-left: 1.5rem;
      transition: all 0.4s;
      &:hover {
        color: $gray-900;
      }
      &:first-of-type {
        margin-left: 0;
      }
    }
  }
}

.footer-alt {
  left: 0 !important;
  text-align: center;
  background-color: transparent;
  box-shadow: none;
}

@include media-breakpoint-down(sm) {
  .footer {
    left: 0 !important;
    text-align: center;
  }
}
